<template>
  <div :class="pageTitleClassName">

    <div v-if=""><slot name="thumbnail"/></div>
    <div :class="styles.TitleAndSubtitleWrapper">
      {wrappedTitleMarkup}
      {subtitleMarkup}
    </div>
  </div>
  
</template>
<script>
  import {classNames} from '../../../../../../utilities/css'
  import {DisplayText} from '../../../../../DisplayText'
  import {useFeatures} from '../../../../../../mixins'

  import styles from './Title.scss';

  export default {
    data() {
      return {
        styles
      }
    },
    computed: {
      pageTitleClassName() {
        return this.$slots.thumbnail 
             ? classNames(styles.hasThumbnail)
             : undefined
      }
    }
  }
</script>
<style lang="scss" module/>
