<script>
  import {classNames} from '../../../../utilities/css'
  import styles from './Section.scss'

  export default {
    props: {
      flush: Boolean,
      subdued: Boolean
    },
    computed: {
      className: function() {
        return classNames(
          styles.Section,
          this.flush && styles.flush,
          this.subdued && styles.subdued,
        )
      }
    }
  }
</script>
<template>
  <section :class="className"><slot/></section>
</template>
