<script>
  import {classNames, variationName} from '../../../../utilities/css'
  import {ButtonGroup} from '../../../ButtonGroup'
  import {Stack} from '../../../Stack'
  import {Button} from '../../../Button'
  import styles from './Footer.scss'

  export default {
    components: {
      ButtonGroup,
      Stack,
      "Stack.Item": Stack.Item,
      Button,
    },
    props: {
      /** Primary action */
      primaryAction: Object,
      /** Collection of secondary actions */
      secondaryActions: Array
    },
    data() {
      return {
        styles
      }
    },
    computed: {
      onPrimaryAction() {
        const { onAction } = this.primaryAction
        return onAction
      },
      primaryActionContent() {
        const { content } = this.primaryAction
        return content
      },
      primaryActionProps() {
        const { content, onAction, ...props } = this.primaryAction
        return props
      }
    }
  }
</script>
<template>
  <div :class="styles.Footer">
    <div :class="styles.FooterContent">
      <Stack alignment="center">
        <Stack.Item fill><slot/></Stack.Item>
        <ButtonGroup v-if="primaryAction || secondaryActions">
          <Button @click="onAction"
            v-bind="props"
            :key="index"
            v-for="({onAction, content, ...props}, index) in secondaryActions">
            {{content}}
          </Button>
          <Button @click="onPrimaryAction"
            v-bind="primaryActionProps"
            primary>
            {{primaryActionContent}}
          </Button>
        </ButtonGroup>
      </Stack>
    </div>
  </div>
</template>
