<template>
  <span :class="className">
    <VisuallyHidden v-if="status">{{statusMarkup}}</VisuallyHidden>
    <span v-if="progress" :class="styles.Pip">
      <VisuallyHidden>{{progressMarkup}}</VisuallyHidden>
    </span>
    <slot/>
  </span>
</template>
<script>
  import {classNames, variationName} from '../../utilities/css'
  import {VisuallyHidden} from '../VisuallyHidden'
  import {useI18n} from '../../mixins'
  import styles from './Badge.scss'

  const PROGRESS_LABELS = {
    incomplete: 'incomplete',
    partiallyComplete: 'partiallyComplete',
    complete: 'complete',
  }
  
  const STATUS_LABELS = {
    info: 'info',
    success: 'success',
    warning: 'warning',
    critical: 'critical',
    attention: 'attention',
    new: 'new',
  }

  const DEFAULT_SIZE = 'medium'
  
  export default {
    components: {
      VisuallyHidden
    },
    mixins: [useI18n],
    props: {
      /** Set the color of the badge for the given status. */
      status: String, //'success' | 'info' | 'attention' | 'critical' | 'warning' | 'new'
      /** Render a pip showing the progress of a given task. */
      progress: String, //'incomplete' | 'partiallyComplete' | 'complete'
      /**
       * Medium or small size. Use `small` only in the main navigation of an app frame.
       * @default 'medium'
       */
      size: {
        type: String, // 'small' | 'medium',
        default: DEFAULT_SIZE
      }
    },
    data() {
      return {
        styles
      }
    },
    computed: {
      className() {
        const {status, progress, size} = this
        return classNames(
          styles.Badge,
          status && styles[variationName('status', status)],
          progress && styles[variationName('progress', progress)],
          size && size !== DEFAULT_SIZE && styles[variationName('size', size)],
      )},
      progressMarkup() {
        const {progress, i18n=()=>{}} = this
        let progressMarkup
        switch (progress) {
          case PROGRESS_LABELS.incomplete:
            progressMarkup = i18n.translate(
              'Polaris.Badge.PROGRESS_LABELS.incomplete',
            )
            break
          case PROGRESS_LABELS.partiallyComplete:
            progressMarkup = i18n.translate(
              'Polaris.Badge.PROGRESS_LABELS.partiallyComplete',
            )
            break
          case PROGRESS_LABELS.complete:
            progressMarkup = i18n.translate('Polaris.Badge.PROGRESS_LABELS.complete')
            break
        }
        return progressMarkup
      },
      statusMarkup() {
        console.log(this.i18n)
        const {status, i18n=()=>{}} = this
        let statusMarkup
        switch (status) {
          case STATUS_LABELS.info:
            statusMarkup = i18n.translate('Polaris.Badge.STATUS_LABELS.info')
            break
          case STATUS_LABELS.success:
            statusMarkup = i18n.translate('Polaris.Badge.STATUS_LABELS.success')
            break
          case STATUS_LABELS.warning:
            statusMarkup = i18n.translate('Polaris.Badge.STATUS_LABELS.warning')
            break
          case STATUS_LABELS.critical:
            statusMarkup = i18n.translate('Polaris.Badge.STATUS_LABELS.critical')
            break
          case STATUS_LABELS.attention:
            statusMarkup = i18n.translate('Polaris.Badge.STATUS_LABELS.attention')
            break
          case STATUS_LABELS.new:
            statusMarkup = i18n.translate('Polaris.Badge.STATUS_LABELS.new')
            break
        }
        return statusMarkup
      }

    }
  }
</script>
