<template>
  <li :class="className">
    <div :class="styles.ItemWrapper">
      <UnstyledLink
        :url="url"
        :class="itemClassName"
        :tabIndex="tabIndex"
        :aria-disabled="disabled"
        :aria-label="accessibilityLabel"
        @click="getClickHandler($listeners.click)"
        @keyup="handleKeyUp"
        @blur="handleBlur">
        <div v-if="icon" :class="styles.Icon">
          <Icon :source="icon" />
        </div>
        <span :class="styles.Text">
          {{label}}
          <span v-if="hasNewChild" 
            :class="styles.Indicator">
            <Indicator pulse />
          </span>
        </span>
        <div :class="styles.Badge">
          <Badge v-if="isNew" status="new" size="small">
            {{i18n.translate('Polaris.Badge.STATUS_LABELS.new')}}
          </Badge>
          <Badge v-else-if="typeof badge === 'string'" status="new" size="small">
            {{badge}}
          </Badge>
          <slot v-else name="badge"/>
        </div>
      </UnstyledLink>
      <UnstyledLink
        external
        v-if="secondaryAction"
        :url="secondaryAction.url"
        :class="styles.SecondaryAction"
        :tabIndex="tabIndex"
        :aria-disabled="disabled"
        :aria-label="secondaryAction.accessibilityLabel"
      >
        <Icon :source="secondaryAction.icon"/>
      </UnstyledLink>

    </div>
    <div v-if="subNavigationItems.length > 0 && showExpanded"
      :class="SecondaryNavigationClassName">
      <Secondary :expanded="showExpanded">
        <Item
          v-for="(item, index) in subNavigationItems"
          :key="item.label"
          v-bind="item"
          :matches="item === longestMatch"
          @click="onNavigationDismiss"
        />
      </Secondary>
    </div>

  </li>
  
</template>
<script>
  import {classNames} from '../../../../utilities/css'
  import {Badge} from '../../../Badge'
  import {Icon} from '../../../Icon'
  import {Key} from '../../../../types'
  import {Indicator} from '../../../Indicator'
  import {UnstyledLink} from '../../../UnstyledLink'
  import {MatchState} from './MatchState'
  import {useI18n, useMediaQuery} from '../../../../mixins'
  import {Secondary} from './components';
  import styles from '../../Navigation.scss'
  
  export default {
    name: 'Item',
    mixins: [useI18n, useMediaQuery],
    components: {
      Icon, Badge, Indicator, UnstyledLink, Secondary
    },
    inject: {
      NavigationContext: {
        default: {
          location: ''
        }
      }
    },
    props: {
      url: String,
      icon: [Function, Object, String],
      label: String,
      subNavigationItems: {
        type: Array,
        default: () => []
      },
      secondaryAction: Object,
      disabled: Boolean,
      accessibilityLabel: String,
      selected: Boolean,
      badge: String,
      new: Boolean,
      matches: Boolean,
      exactMatch: Boolean,
      matchPaths: Array,
      excludePaths: Array
    },
    data() {
      return {
        styles
      }
    },
    watch: {
      expanded2(val) {
        if (val) this.expanded = true
      }
    },
    computed: {
      location() {
        const { location } = this.NavigationContext
        return location
      },
      longestMatch() {
        return this.matchingSubNavigationItems.sort(
          ({url: firstUrl}, {url: secondUrl}) => secondUrl.length - firstUrl.length,
        )[0]
      },
      SecondaryNavigationClassName() {
        const { icon } = this
        return classNames(
          styles.SecondaryNavigation,
          !icon && styles['SecondaryNavigation-noIcon'],
        )
      },
      matchState() {
        const {url, matches, exactMatch, matchPaths, excludePaths, location} = this
        return matchStateForItem(
          {url, matches, exactMatch, matchPaths, excludePaths},
          location,
        )
      },
      matchingSubNavigationItems() {
        const { subNavigationItems, location } = this
        return subNavigationItems.filter((item) => {
          const subMatchState = matchStateForItem(item, location);
          return (
            subMatchState === MatchState.MatchForced ||
            subMatchState === MatchState.MatchUrl ||
            subMatchState === MatchState.MatchPaths
          )
        })
      },
      childIsActive() {
        return this.matchingSubNavigationItems.length > 0
      },
      selected2() {
        const {selected, matchState} = this
        return selected == null
             ? matchState === MatchState.MatchForced ||
               matchState === MatchState.MatchUrl ||
               matchState === MatchState.MatchPaths
             : selected
      },
      showExpanded() {
        const {selected2, expanded, childIsActive} = this
        return selected2 || expanded || childIsActive
      },
      hasNewChild() {
        const { subNavigationItems } = this
        return subNavigationItems.filter((subNavigationItem) => subNavigationItem.new)
                                 .length > 0
      },
      expanded2() {
        const {expanded, isNavigationCollapsed} = this
        return !isNavigationCollapsed && expanded
      },
      isNew() {
        return this.new
      },
      tabIndex() {
        return this.disabled ? -1 : 0
      },
      className() {
         const { secondaryAction } = this
        return classNames(
          styles.ListItem,
          secondaryAction && styles['ListItem-hasAction'],
        )
      },
      itemClassName() {
        const { disabled, selected2: selected, showExpanded, keyFocused } = this
        return classNames(
          styles.Item,
          disabled && styles['Item-disabled'],
          selected && subNavigationItems.length === 0 && styles['Item-selected'],
          showExpanded && styles.subNavigationActive,
          keyFocused && styles.keyFocused
        )
      }
    },
    methods: {
      handleKeyUp(event) {
        const { keyFocused } = this
        if (event.keyCode === Key.Tab) {
          !keyFocused && (this.keyFocused = true)
        }
      },
      handleBlur() {
        const { keyFocused } = this
        keyFocused && (this.keyFocused = false)
      },
      onNavigationDismiss() {
        const {onNavigationDismiss} = this.NavigationContext
        return onNavigationDismiss && onNavigationDismiss()
      },
      getClickHandler(onClick) {
        const { location, subNavigationItems, isNavigationCollapsed, 
                expanded, onNavigationDismiss } = this
        return (event) => {
          const {currentTarget} = event
          if (currentTarget.getAttribute('href') === location) {
            event.preventDefault()
          }

          if (
            subNavigationItems &&
            subNavigationItems.length > 0 &&
            isNavigationCollapsed
          ) {
            event.preventDefault()
            this.expanded = !expanded
          } else if (onNavigationDismiss) {
            onNavigationDismiss()
            if (onClick && onClick !== onNavigationDismiss) {
              onClick()
            }
            return
          }

          if (onClick) {
            onClick()
          }
        }
      }
    }
  }

  export function isNavigationItemActive(
    navigationItem,
    currentPath
  ) {
    const matchState = matchStateForItem(navigationItem, currentPath)

    const matchingSubNavigationItems =
      navigationItem.subNavigationItems &&
      navigationItem.subNavigationItems.filter((item) => {
        const subMatchState = matchStateForItem(item, currentPath);
        return (
          subMatchState === MatchState.MatchForced ||
          subMatchState === MatchState.MatchUrl ||
          subMatchState === MatchState.MatchPaths
        )
      })

    const childIsActive =
      matchingSubNavigationItems && matchingSubNavigationItems.length > 0

    const selected =
      matchState === MatchState.MatchForced ||
      matchState === MatchState.MatchUrl ||
      matchState === MatchState.MatchPaths

    return selected || childIsActive
  }

  function normalizePathname(pathname) {
    console.log(pathname)
    const barePathname = pathname.split('?')[0].split('#')[0]
    return barePathname.endsWith('/') ? barePathname : `${barePathname}/`
  }

  function safeEqual(location, path) {
    return normalizePathname(location) === normalizePathname(path)
  }

  function safeStartsWith(location, path) {
    return normalizePathname(location).startsWith(normalizePathname(path))
  }

  function matchStateForItem(
    {url, matches, exactMatch, matchPaths, excludePaths},
    location,
  ) {
    console.log({url, matches, exactMatch, matchPaths, excludePaths,
                 location})
    if (url == null) {
      return MatchState.NoMatch;
    }

    if (matches) {
      return MatchState.MatchForced;
    }

    if (
      matches === false ||
      (excludePaths &&
       excludePaths.some((path) => safeStartsWith(location, path)))
    ) {
      return MatchState.Excluded;
    }

    if (matchPaths && matchPaths.some((path) => safeStartsWith(location, path))) {
      return MatchState.MatchPaths;
    }

    const matchesUrl = exactMatch
                     ? safeEqual(location, url)
                     : safeStartsWith(location, url);
    return matchesUrl ? MatchState.MatchUrl : MatchState.NoMatch;
  }
</script>

