<template>
  <Button :key="key_" v-on="listeners" v-bind="props">
    {{content}}
  </Button>
</template>
<script>
  import { default as Button } from './Button.vue'
  
  export default {
    components: { Button },
    props: {
      key_: {},
      action: Object,
      overrides: Object
    },
    computed: {
      listeners: function() {
        return {
          ...this.$listeners,
          ...this.onAction ? {click: this.onAction} : {}
        }
      },
      content() {
        const {content} = this.action || {}
        return content
      },
      onAction() {
        const {onAction} = this.action || {}
        return onAction
      },
      props() {
        const {onAction, content, ...rest} = this.action || {}
        return {...rest, ...this.overrides || {}}
      }
    }
  }
</script>

