<template>
  <Modal
    :title="i18n.translate('Polaris.DiscardConfirmationModal.title')"
    :open="open"
    @close="$listeners.cancel"
    :primaryAction="{
        content: i18n.translate(
          'Polaris.DiscardConfirmationModal.primaryAction',
        ),
        destructive: true,
        onAction: $listeners.discard,
      }"
    :secondaryActions="[
        {
          content: i18n.translate(
            'Polaris.DiscardConfirmationModal.secondaryAction',
          ),
          onAction: $listeners.cancel,
        }]"
    sectioned
    >
    {{i18n.translate('Polaris.DiscardConfirmationModal.message')}}
    </Modal>  
</template>
<script>
  import {useI18n} from '../../../../../../mixins'
  import {Modal} from '../../../../../Modal'
  export default {
    mixins: {useI18n},
    components: { Modal },
  }
</script>
