<script>
  import {classNames} from '../../../../utilities/css'
  import styles from '../../Stack.scss'

  export default {
    name: 'Stack.Item',
    props: {
      /** Fill the remaining horizontal space in the stack with the item  */
      fill: Boolean
    },
    computed: {
      className: function() {
        const { color, backdrop, newDesignLanguage } = this
        
        return classNames(
          styles.Item, this.fill && styles['Item-fill']
        )
      }
    },

  }
</script>
<template>
  <div :class="className"><slot/></div>
</template>
