<template>
  <component is="element" :class="className">
    {sectionMarkup}
  </component>
</template>
<script>
  
  import {useFeatures} from '../../utilities/features'
  import {classNames} from '../../utilities/css'
  import {Section} from './components'
  import styles from './ActionList.scss'

  export default {}
</script>
