<template>
  <div :class="className">
    {navigationButtonMarkup}
    {contextMarkup}
    <div :class="$style.Contents">
      <div :class="$style.SearchField">{searchMarkup}</div>
      <div :class="$style.SecondaryMenu">{secondaryMenu}</div>
      {userMenu}
    </div>
    {scrollListenerMarkup}
  </div>
</template>
<script>
  import {classNames} from '../../utilities/css'
  import {useFeatures} from '../../mixins'
  
  export default {
    mixins: [useFeatures],
    data() {
      return {
        scrolled: false
      }
    },
    computed: {
      className() {
        return classNames(
          this.$style.TopBar,
          this.newDesignLanguage && this.$style['TopBar-newDesignLanguage'],
          this.scrolled && this.$style.isScrolled,
        )
      }
    }
  }
</script>
<style lang="scss" src="./TopBar.scss" module/>
