<template>
  <div
    :class="wrapperClassName"
    ref="node"
    @transitionend="handleTransitionEnd"
  >
    <slot v-if="transitionStatus === TransitionStatus.Exited && !appear"/>
  </div>  
</template>
<script>
  import {classNames, variationName} from '../../../../utilities/css'
  import styles from './CSSAnimation.scss'
  import { TransitionStatus } from './TransitionStatus'

  export default {
    isMounted: false,
    props: {
      appear: Boolean,
      type: String //'fade' | 'fadeUp'
    },
    data() {
      return {
        TransitionStatus,
        transitionStatus: this.appear ? TransitionStatus.Entering : TransitionStatus.Exited
      }
    },
    watch: {
      transitionStatus(transitionStatus) {
        if (!this.isMounted) return
        transitionStatus === TransitionStatus.Entering &&
        changeTransitionStatus(TransitionStatus.Entered)
      },
      appear(inProp) {
        if (!this.isMounted) return
        inProp && changeTransitionStatus(TransitionStatus.Entering)
        !inProp && changeTransitionStatus(TransitionStatus.Exiting)
      }
    },
    computed: {
      node() {
        return this.$refs.node
      },
      wrapperClassName() {
        const { appear: inProp, type } = this
        return classNames(
          styles[variationName('start', type)],
          inProp && styles[variationName('end', type)],
        )
      }
    },
    methods: {
      setTransitionStatus(status) {
        this.transitionStatus = status
      },
      handleTransitionEnd() {
        const {transitionStatus} = this
        transitionStatus === TransitionStatus.Exiting &&
                                   this.changeTransitionStatus(TransitionStatus.Exited)
      },
      changeTransitionStatus(transitionStatus) {
        const {node} = this
        this.setTransitionStatus(transitionStatus)
        // Forcing a reflow to enable the animation
        if (transitionStatus === TransitionStatus.Entering)
          node && node.getBoundingClientRect()
      }
    },
    mounted() {
      this.isMounted = true
    }
  }
</script>
