<template>
  <fragment><slot/></fragment>
</template>
<script>
  import {focusFirstFocusableNode} from '../../utilities/focus'

  export default {
    props: {
      disabled: Boolean,
      root: Object // HTMLElement | null
    },
    computed: {
      changes() {
        const {disabled, root} = this
        return [disabled, root]
      }
    },
    watch: {
      changes() {
        const { disabled, root } = this
        if (disabled || !root) {
          return
        }
        const node = root

        if (!node || node.querySelector('[autofocus]')) {
          return
        }

        focusFirstFocusableNode(node, false)
      }
    }
  }
</script>
