<template>
  <Portal idPrefix="toast-manager">
    <EventListener event="resize" @handler="updateToasts"/>
    <div :class="styles.ToastManager" ref="manager" aria-live="polite">
      <!-- <transition-group/> -->
      <transition v-for="({onDismiss=()=>{} , content, ...toast}, index) in toastMessages"
          ref="toastNodes"
          :key="toast.id"
          :duration="{enter: 0, leave: 400}"
          :enter-class="styles['ToastWrapper-enter']"
          :enter-to-class="styles['ToastWrapper-enter-done']"
          :leave-class="styles['ToastWrapper-exit']"
          :class="styles.ToastWrapper">
          <div ref="toastNodes">
            <Toast v-bind="toast" @dismiss="onDismiss">
              {{content}}
            </Toast>
          </div>
      </transition>
    </div>
  </Portal>
</template>
<script>
  import {classNames} from '../../../../utilities/css'
  import {EventListener} from '../../../EventListener'
  import {Portal} from '../../../Portal'
  import {Toast} from '../Toast'

  import styles from './ToastManager.scss'

  export default {
    components: {
      Toast, Portal, EventListener
    },
    props: {
      toastMessages: {
        type: Array,
        default: [{}]
      }
    },
    computed: {
      toastNodes() {
        return this.$refs.toastNodes
      }
    },
    watch: {
      toastMessages() {
        console.log(this.$refs)
        console.log(this.toastMessages)
        this.updateToasts()
      },
      toastNodes() {
        this.updateToasts()
      }
    },
    data() {
      return {
        styles
      }
    },
    methods: {
      updateToasts() {
        this.$nextTick(() => {
        const { toastMessages } = this
        const toastNodes = this.$refs.toastNodes
        let targetInPos = 0
        toastMessages.forEach((_, index) => {
          const currentToast = toastNodes[index]
          if (!currentToast) return
          targetInPos += currentToast.clientHeight
          currentToast.style.setProperty(
            '--toast-translate-y-in',
            `-${targetInPos}px`,
          )
          currentToast.style.setProperty(
            '--toast-translate-y-out',
            `${-targetInPos + 150}px`,
          )
        })
        })
      }
    },
    mounted() {
              const { toastMessages, toastNodes } = this
        console.log({ toastMessages, toastNodes })
      this.updateToasts()
    }
  }
</script>
