<template>
  <Focus
    :disabled="shouldDisableFirstElementFocus()"
    :root="focusTrapWrapper"
  >
    <div ref="focusTrapWrapper">
      <EventListener event="focusin" :handler="handleFocusIn" />
      <KeypressListener
        :keyCode="Key.Tab"
        keyEvent="keydown"
        :handler="handleTab"
      />
      <slot/>
    </div>
  </Focus>
</template>
<script>
  import {Key} from '../../types';
  import {EventListener} from '../EventListener';
  import {KeypressListener} from '../KeypressListener';
  import {Focus} from '../Focus';
  import {
    focusFirstFocusableNode,
    findFirstKeyboardFocusableNode,
    focusFirstKeyboardFocusableNode,
    findLastKeyboardFocusableNode,
    focusLastKeyboardFocusableNode,
  } from '../../utilities/focus'
  import {useFocusManager} from '../../mixins';

  export default {
    mixins: [useFocusManager],
    components:{ Focus, KeypressListener, EventListener },
    props: {
      trapping: {
        type: Boolean,
        default: true
      },
    },
    data() {
      return {
        Key,
        shouldFocusSelf: undefined
      }
    },
    watch: {
      canSafelyFocus(val) {
        this.setFocusSelf(
          !(
            val &&
            this.focusTrapWrapper &&
            this.focusTrapWrapper.contains(document.activeElement)
          )
        )
      }
    },
    mounted() {
      const { disabled, root } = this
      if (disabled || !root) {
        return
      }
      const node = root

      if (!node || node.querySelector('[autofocus]')) {
        return
      }

      focusFirstFocusableNode(node, false)
    },
    computed: {
      focusTrapWrapper() {
        return this.$refs.focusTrapWrapper
      }
    },
    methods: {
      setFocusSelf(val) {
        this.shouldFocusSelf = val
      },
      shouldDisableFirstElementFocus() {
        const {shouldFocusSelf, canSafelyFocus, trapping} = this
        if (shouldFocusSelf === undefined || !canSafelyFocus) {
          return true
        }

        return shouldFocusSelf ? !trapping : !shouldFocusSelf;
      },
      handleFocusIn(event) {
        const {trapping, canSafelyFocus, focusTrapWrapper } = this
        const containerContentsHaveFocus =
          focusTrapWrapper &&
          focusTrapWrapper.contains(document.activeElement);

        if (
          trapping === false ||
          !focusTrapWrapper ||
          containerContentsHaveFocus
        ) {
          return
        }

        if (
          canSafelyFocus &&
          event.target instanceof HTMLElement &&
          focusTrapWrapper !== event.target &&
          !focusTrapWrapper.contains(event.target)
        ) {
          focusFirstFocusableNode(focusTrapWrapper);
        }
      },
      handleTab(event) {
        const {trapping, canSafelyFocus, focusTrapWrapper } = this
        if (trapping === false || !focusTrapWrapper) {
          return
        }

        const firstFocusableNode = findFirstKeyboardFocusableNode(
          focusTrapWrapper
        );
        const lastFocusableNode = findLastKeyboardFocusableNode(
          focusTrapWrapper
        );

        if (event.target === lastFocusableNode && !event.shiftKey) {
          event.preventDefault()
          focusFirstKeyboardFocusableNode(focusTrapWrapper)
        }

        if (event.target === firstFocusableNode && event.shiftKey) {
          event.preventDefault()
          focusLastKeyboardFocusableNode(focusTrapWrapper)
        }
      }
    }
  }
</script>
