<template>
  <div
    :class="frameClassName"
    v-bind="frameProps">
    <div :class="skipClassName">
      <a
        :href="'#' + skipTarget"
        @focus="handleFocus"
        @blur="handleBlur"
        @click="handleClick"
        :class="styles.SkipAnchor"
      >
        {{i18n.translate('Polaris.Frame.skipToContent')}}
      </a>
    </div>
    <div
      v-if="!!$slots.topBar"
      :class="topBarClassName"
      v-bind="topBarProps"
    >
      <slot name="topBar"/>
    </div>
    <TrapFocus v-if="!!$slots.navigation" :trapping="mobileNavShowing">
      <transition
        :appear="isNavigationCollapsed && showMobileNavigation"
        :duration="durationSlow"
        :enter-class="styles['Navigation-enter']"
        :enter-active-class="styles['Navigation-enterActive']"
        :enter-to-class="styles['Navigation-enterActive']"
        :leave-class="styles['Navigation-exit']"
        :leave-active-class="styles['Navigation-exitActive']"
      >
        <div
          ref="navigationNode"
          :class="navClassName"
          @keydown="handleNavKeydown"
          :id="APP_FRAME_NAV"
          key="NavContent"
          :hidden="mobileNavHidden"
        >
          <slot name="navigation"/>
          <button
            type="button"
            :class="styles.NavigationDismiss"
            @click="handleNavigationDismiss"
            :aria-hidden="mobileNavHidden ||
            (!isNavigationCollapsed && !showMobileNavigation)"
            :aria-label="i18n.translate(
            'Polaris.Frame.Navigation.closeMobileNavigationLabel',
            )"
            :tabIndex="tabIndex"
          >
            <Icon :source="MobileCancelMajorMonotone" color="white" />
          </button>
        </div>
      </transition>
    </TrapFocus>
    <CSSAnimation
      :in="showContextualSaveBar"
      :class="contextualSaveBarClassName"
      :type="newDesignLanguage ? 'fadeUp' : 'fade'"
    >
      <ContextualSaveBar v-bind="contextualSaveBar"/>
    </CSSAnimation>
    <div v-if="loadingStack > 0"
      :class="styles.LoadingBar" :id="APP_FRAME_LOADING_BAR">
      <Loading />
    </div>

    <Backdrop
      v-if="showMobileNavigation && isNavigationCollapsed"
      belowNavigation
      @click="handleNavigationDismiss"
      @touchstart="handleNavigationDismiss"
    />

    <main
      :class="mainClassName"
      v-bind="mainProps">
      <a
        v-if="!skipToContentTarget"
        :id="APP_FRAME_MAIN_ANCHOR_TARGET"
        ref="skipToMainContentTargetNode"
        :tabIndex="-1"
      />
      <div :class="styles.Content"><slot/></div>
    </main>
    <ToastManager :toastMessages="toastMessages" />
    <div
      v-if="!!$slots.globalRibbon"
      :class="globalRibbonClassName"
      ref="setGlobalRibbonContainer"
    >
      <slot name="globalRibbon" />
    </div>
    <EventListener event="resize" @handler="handleResize" />
  </div>
</template>
<script>
  import {MobileCancelMajorMonotone} from 'v-polaris-icons'
  import {durationSlow} from '@shopify/polaris-tokens'
  import {useI18n, useMediaQuery, useFeatures} from '../../mixins'
  import {classNames} from '../../utilities/css'
  import {Icon} from '../Icon'
  import {EventListener} from '../EventListener'
  import {Backdrop} from '../Backdrop'
  import {TrapFocus} from '../TrapFocus'
  import {dataPolarisTopBar, layer} from '../shared'
  import {setRootProperty} from '../../utilities/set-root-property'

  import {
    ToastManager,
    Loading,
    ContextualSaveBar,
    CSSAnimation,
  } from './components'
  import styles from './Frame.scss'

  const GLOBAL_RIBBON_CUSTOM_PROPERTY = '--global-ribbon-height'
  const APP_FRAME_MAIN = 'AppFrameMain'
  const APP_FRAME_MAIN_ANCHOR_TARGET = 'AppFrameMainContent'
  const APP_FRAME_NAV = 'AppFrameNav'
  const APP_FRAME_TOP_BAR = 'AppFrameTopBar'
  const APP_FRAME_LOADING_BAR = 'AppFrameLoadingBar'

  export default {
    mixins: [useI18n, useMediaQuery, useFeatures],
    components: {
      EventListener, TrapFocus, Icon, Loading,
      CSSAnimation, ContextualSaveBar, Backdrop,
      ToastManager
    },
    data() {
      return {
        durationSlow,
        MobileCancelMajorMonotone,
        styles,
        APP_FRAME_MAIN_ANCHOR_TARGET,
        APP_FRAME_NAV,
        APP_FRAME_LOADING_BAR,
        skipFocused: false,
        globalRibbonHeight: 0,
        loadingStack: 0,
        toastMessages: [],
        showContextualSaveBar: false,
        globalRibbonContainer: null,
        contextualSaveBar: null
      }
    },
    props: {
      /** A boolean property indicating whether the mobile navigation is currently visible
       * @default false
       */
      showMobileNavigation: {
        type: Boolean,
        default: false
      },
      /** Accepts a ref to the html anchor element you wish to focus when clicking the skip to content link */
      skipToContentTarget: Object, //HTMLAnchorElement,
    },
    watch: {
      globalRibbon(val, oldVal) {
        if (val !== oldVal) {
          this.setGlobalRibbonHeight()
        }
      }
    },
    computed: {
      globalRibbonClassName() {
        const { newDesignLanguage } = this
        return classNames(
          styles.GlobalRibbonContainer,
          newDesignLanguage && styles['GlobalRibbonContainer-newDesignLanguage'],
        )
      },
      contextualSaveBarClassName() {
        const {newDesignLanguage} = this
        return classNames(
          styles.ContextualSaveBar,
          newDesignLanguage && styles['ContextualSaveBar-newDesignLanguage'],
        )
      },
      topBarProps() {
        return {
          ...layer.props,
          ...dataPolarisTopBar.props,
          id: APP_FRAME_TOP_BAR
        }
      },
      topBarClassName() {
        const {newDesignLanguage} = this
        return classNames(
          styles.TopBar,
          newDesignLanguage && styles['TopBar-newDesignLanguage'],
        )
      },
      skipTarget() {
        const { skipToContentTarget } = this
        return skipToContentTarget
             ? (skipToContentTarget.id) || ''
             : APP_FRAME_MAIN_ANCHOR_TARGET
      },
      skipClassName() {
        const { skipFocused } = this
        return classNames(
          styles.Skip,
          skipFocused && styles.focused,
        )
      },
      navClassName() {
        const {showMobileNavigation, newDesignLanguage} = this
        return classNames(
          styles.Navigation,
          showMobileNavigation && styles['Navigation-visible'],
          newDesignLanguage && styles['Navigation-newDesignLanguage'],
        )
      },
      isNavigationCollapsed() {
        const {
          mediaQuery: {isNavigationCollapsed} = {},
        } = this
        return isNavigationCollapsed
      },
      mobileNavShowing() {
        const {
          isNavigationCollapsed,
          showMobileNavigation,
        } = this
        return isNavigationCollapsed && showMobileNavigation
      },
      mobileNavHidden() {
        const {
          isNavigationCollapsed,
          showMobileNavigation,
        } = this
        return isNavigationCollapsed && !showMobileNavigation
      },
      tabIndex() {
        this.mobileNavShowing ? 0 : -1
      },
      frameClassName: function() {
        return classNames(
          styles.Frame,
          !!this.$slots.navigation && styles.hasNav,
          !!this.$slots.topBar && styles.hasTopBar
        )
      },
      navigationAttributes() {
        return {
          ...this.$slots.navigation && {
            'data-has-navigation': true,
        }}
      },
      frameProps() {
        return {
          ...layer.props,
          ...this.navigationAttributes
        }
      },
      mainClassName() {
        return classNames(
          styles.Main,
          this.newDesignLanguage && styles['Main-newDesignLanguage']
      )},
      mainProps() {
        return {
          id: APP_FRAME_MAIN,
          "data-has-global-ribbon": !!this.$slots.globalRibbon
        }
      },
      skipClassName() {
        return classNames(
          styles.Skip,
          this.skipFocused && styles.focused
        )
      },
      skipTarget() {
        return this.skipToContentTarget
             ? (this.skipToContentTarget && this.skipToContentTarget.id) || ''
             : APP_FRAME_MAIN_ANCHOR_TARGET
      },
      topBarClassName() {
        return classNames(
          styles.TopBar,
          this.newDesignLanguage && styles['TopBar-newDesignLanguage'],
        )
      },
      topBarProps() {
        return {
          ...layer.props,
          ...dataPolarisTopBar.props,
          id: APP_FRAME_TOP_BAR
        }
      }
    },
    methods: {
      showToast(toast) {
        console.log(toast)
        const {toastMessages} = this
        const hasToastById =
          toastMessages.find(({id}) => id === toast.id) != null
        if (!hasToastById) this.toastMessages = [...toastMessages, toast]
        console.log(this.toastMessages)
      },
      hideToast({id}) {
        const {toastMessages} = this
        this.toastMessages = toastMessages.filter(({id: toastId}) => id !== toastId)
      },
      setContextualSaveBar(props) {
        const {showContextualSaveBar} = this
        this.contextualSaveBar = {...props}
        if (showContextualSaveBar === true) {
          this.$forceUpdate()
        } else {
          this.showContextualSaveBar = true
        }
      },
      removeContextualSaveBar() {
        this.contextualSaveBar = null
        this.showContextualSaveBar = false
      },
      startLoading() {
        const { loadingStack } = this
        this.loadingStack = loadingStack + 1
      },
      stopLoading() {
        const { loadingStack } = this
        this.loadingStack = Math.max(0, loadingStack - 1)
      },
      handleNavigationDismiss() {
        const {navigationDismiss: onNavigationDismiss} = this.$listeners;
        if (onNavigationDismiss != null) {
          onNavigationDismiss()
        }
      },
      handleNavKeydown(event) {
        const {key} = event
        const {mobileNavShowing} = this
        if (mobileNavShowing && key === 'Escape') {
          this.handleNavigationDismiss()
        }
      },
      handleFocus() {
        this.skipFocused = true
      },
      handleBlur() {
        this.skipFocused = false
      },
      handleClick() {
        this.$refs.skipToMainContentTargetNode &&
        this.$refs.skipToMainContentTargetNode.focus();
      },
      handleResize() {
        if (!!this.$slots.globalRibbon) {
          this.setGlobalRibbonHeight()
        }
      },
      setGlobalRibbonContainer(node) {
        this.globalRibbonContainer = node;
      },
      setGlobalRibbonHeight() {
        const {globalRibbonContainer} = this
        if (globalRibbonContainer) {
          this.globalRibbonHeight = globalRibbonContainer.offsetHeight
        }
        this.setGlobalRibbonRootProperty()
      },
      setGlobalRibbonRootProperty() {
        const {globalRibbonHeight} = this
        setRootProperty(
          GLOBAL_RIBBON_CUSTOM_PROPERTY,
          `${globalRibbonHeight}px`,
          null,
        )
      }
    },
    provide() {
      return {
        FrameContext: {
          showToast: this.showToast,
          hideToast: this.hideToast,
          startLoading: this.startLoading,
          stopLoading: this.stopLoading,
          setContextualSaveBar: this.setContextualSaveBar,
          removeContextualSaveBar: this.removeContextualSaveBar,
        }
      }
    },
    mounted() {
      this.handleResize()
      if (!!this.$slots.globalRibbon) {
        return
      }
      this.setGlobalRibbonRootProperty()
    }
  }
</script>
