<template>
  <div>
    <slot/>
  </div>
</template>
<script>
  import {globalIdGeneratorFactory} from '../../utilities/unique-id/unique-id-factory'
  import {portal} from '../shared'
  const getUniqueID = globalIdGeneratorFactory('portal-')

  export default {
    props: {
      idPrefix: { type: String,
                  default: "" }
    },
    inject: {
      ThemeContext: {
        default: undefined
      }
    },
    computed: {
      portalId: function() {
        const { idPrefix } = this
        return idPrefix
             ? `${idPrefix}-${getUniqueID()}`
             : getUniqueID();
      },
      cssCustomProperties() {
        if (!this.ThemeContext) return
        return this.ThemeContext.cssCustomProperties
      },
      textColor() {
        if (!this.ThemeContext) return
        return this.ThemeContext.textColor
      }
    },
    data: function() {
      return {
        portalNode: null,
      }
    },
    watch: {
      isMounted: function (isMounted, wasMounted) {
        if (!wasMounted && isMounted) {
          this.$emit("portal-created")
        }
      },
    },
    mounted() {
      this.portalNode = document.createElement('div')
      this.portalNode.appendChild(this.$el)
      this.portalNode.setAttribute(portal.props[0], this.portalId)
      const { cssCustomProperties } = this

      if (cssCustomProperties != null) {
        this.portalNode.setAttribute('style', cssCustomProperties)
      } else {
        this.portalNode.removeAttribute('style')
      }
      document.body.appendChild(this.portalNode)
      this.isMounted = true
    },

    beforeUpdate() {
      if (this.portalNode) {
        const {cssCustomProperties, textColor} = this
        if (cssCustomProperties != null) {
          const style = `${cssCustomProperties};color:${textColor};`;
          this.portalNode.setAttribute('style', style);
        } else {
          this.portalNode.removeAttribute('style');
        }
      }
    },

    beforeDestroy() {
      if (this.portalNode) {
        document.body.removeChild(this.portalNode)
      }
    }
    
  }
</script>
