<script>
  import {classNames, variationName} from '../../utilities/css'
  import {VisuallyHidden} from '../VisuallyHidden'
  import {useFeatures} from '../../mixins'
  const COLORS_FOR_SPINNER = ['white', 'teal', 'inkLightest', 'highlight']
  const COLORS_FOR_LARGE_SPINNER = ['teal', 'inkLightest', 'highlight']
  import styles from './Spinner.scss'

  export default {
    mixins: [useFeatures],
    props: {
      /**
       * Color of spinner
       * @default 'teal'
       */
      color: {
        type: String,
        default: "teal",
        validator: function (value) {
          // The value must match one of these strings
          return COLORS_FOR_SPINNER.indexOf(value) !== -1
        }
      },
      /**
       * Size of spinner
       * @default 'large'
       */
      size: {
        type: String,
        default: "large",
        validator: function (value) {
          // The value must match one of these strings
          return [ 'small', 'large'].indexOf(value) !== -1
        },
      },
      /** Accessible label for the spinner */
      accessibilityLabel: String,
      /** Allows the component to apply the correct accessibility roles based on focus */
      hasFocusableParent: Boolean
    },
    data: function() {
      return {
        isAfterInitialMount: false
      }
    },
    computed: {
      className: function() {
        const { color, size, newDesignLanguage } = this

        return classNames(
          styles.Spinner,
          color && styles[variationName('color', color)],
          size && styles[variationName('size', size)],
          newDesignLanguage && styles.newDesignLanguage
        )
      },
      spanAttributes: function() {
        return {
          ...(!this.hasFocusableParent && {role: 'status'})
        }
      }
    },
    mounted() {
      const {size, color} = this
      if (size === 'large' && !COLORS_FOR_LARGE_SPINNER.includes(color)) {
        if (process.env.NODE_ENV === 'development') {
          // eslint-disable-next-line no-console
          /* console.warn(
           *   i18n.translate('Polaris.Spinner.warningMessage', {
           *     color,
           *     size,
           *     colors: COLORS_FOR_LARGE_SPINNER.join(', '),
           *   }),
           * ); */
          console.warn('Polaris.Spinner.warningMessage')
        }

        // eslint-disable-next-line no-param-reassign
        size = 'small'
      }

      this.isAfterInitialMount = true
    }
  }
</script>
<template>
  <span :class="className">
    <svg v-if="size === 'large'"
      viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z" />
    </svg>
    <svg v-else viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.229 1.173a9.25 9.25 0 1011.655 11.412 1.25 1.25 0 10-2.4-.698 6.75 6.75 0 11-8.506-8.329 1.25 1.25 0 10-.75-2.385z" />
    </svg>
  </span>
  <!-- <span v-bind="spanAttributes">
       <VisuallyHidden v-if="isAfterInitialMount || !hasFocusableParent">{{accessibilityLabel}}</VisuallyHidden>
       </span> -->
</template>
