<template>
  <ThemeProvider :theme="{colorScheme: 'inverse'}">
    <div :class="contexualSaveBarClassName">
      <div v-if="!alignContentFlush"
        :class="styles.LogoContainer" :style="{width}">
        <Image_ v-if="logo" :style="{width}" :source="logo.contextualSaveBarSource || ''" alt="" />
  );
      </div>
      <div :class="contentsClassName">
        <h2 :class="styles.Message">{{message}}</h2>
        <div :class="styles.ActionContainer">
          <Stack spacing="tight" :wrap="false">
            <Button
              v-if="discardAction"
              :url="discardAction.url"
              @click="discardActionHandler"
              :loading="discardAction.loading"
              :disabled="discardAction.disabled"
              :accessibilityLabel="discardAction.content"
            >
              {{discardActionContent}}
            </Button>
            <Button
              primary
              v-if="saveAction"
              :url="saveAction.url"
              @click="saveAction.onAction"
              :loading="saveAction.loading"
              :disabled="saveAction.disabled"
              :accessibilityLabel="saveAction.content"
            >
              {{saveActionContent}}
            </Button>
          </Stack>
        </div>
      </div>
    </div>
    <DiscardConfirmationModal
      v-if="discardAction &&
      discardAction.onAction &&
      discardAction.discardConfirmationModal"
      :open="discardConfirmationModalVisible"
      @cancel="toggleDiscardConfirmationModal"
      @discard="handleDiscardAction"
      />
  </ThemeProvider>  
</template>
<script>
  import {Button} from '../../../Button'
  import {Image} from '../../../Image'
  import {Stack} from '../../../Stack'
  import {ThemeProvider} from '../../../ThemeProvider'
  import {classNames} from '../../../../utilities/css'
  import {useFeatures, useI18n, useTheme} from '../../../../mixins'
  import {getWidth} from '../../../../utilities/get-width'

  import {DiscardConfirmationModal} from './components'
  import styles from './ContextualSaveBar.scss'
  export default {
    mixins: [useFeatures, useI18n, useTheme],
    components: { Button, "Image_": Image, Stack, DiscardConfirmationModal, ThemeProvider},
    props: {
      /** Extend the contents section to be flush with the left edge  */
      alignContentFlush: Boolean,
      /** Accepts a string of content that will be rendered to the left of the actions */
      message: String,
      /** Save or commit contextual save bar action with text defaulting to 'Save' */
      saveAction: Object,
      /** Discard or cancel contextual save bar action with text defaulting to 'Discard' */
      discardAction: Object,
      /** Remove the normal max-width on the contextual save bar */
      fullWidth: Boolean
    },
    computed: {
      saveActionContent() {
        const { saveAction, i18n } = this
        return saveAction && saveAction.content
             ? saveAction.content
             : i18n.translate('Polaris.ContextualSaveBar.save');
      },
      logo() {
        const {logo} = this.ThemeContext
        return logo
      },
      width() {
        const {logo} = this
        return getWidth(logo, 104)
      },
      contexualSaveBarClassName() {
        const { newDesignLanguage } = this
        return classNames(
          styles.ContextualSaveBar,
          newDesignLanguage && styles.newDesignLanguage,
        )
      },
      contentsClassName() {
        const { fullWidth } = this
        return classNames(
          styles.Contents,
          fullWidth && styles.fullWidth,
        )
      },
      discardActionHandler() {
        let discardActionHandler
        const { discardAction } = this
        if (discardAction && discardAction.discardConfirmationModal) {
          discardActionHandler = this.toggleDiscardConfirmationModal;
        } else if (discardAction) {
          discardActionHandler = discardAction.onAction
        }
        return discardActionHandler
      },
      discardActionContent() {
        const { discardAction, i18n } = this
        return discardAction && discardAction.content
             ? discardAction.content
             : i18n.translate('Polaris.ContextualSaveBar.discard')
      }
    },
    data() {
      return {
        styles,
        discardConfirmationModalVisible: false
      }
    },
    methods: {
      toggleDiscardConfirmationModal() {
        this.discardConfirmationModalVisible = !this.discardConfirmationModalVisible
      },
      closeDiscardConfirmationModal() {
        this.discardConfirmationModalVisible = false
      },
      handleDiscardAction() {
        const { discardAction } = this
        if (discardAction && discardAction.onAction) {
          discardAction.onAction()
        }
        this.closeDiscardConfirmationModal()
      }
    }
  }
</script>
