<template>
  <span :class="className"/>
</template>
<script>
  import {classNames} from '../../utilities/css'
  import styles from './Indicator.scss'
  
  export default {
    props: {
      pulse: Boolean
    },
    computed: {
      className() {
        const { pulse } = this
        return classNames(
          styles.Indicator,
          pulse && styles.pulseIndicator,
        )
      }
    }
  }
</script>
