<template>
  
</template>
<script>
  import {useI18n} from '../../mixins'
  import {classNames} from '../../utilities/css'
  import {WithinContentContext} from '../../utilities/within-content-context'
  import {ButtonGroup} from '../ButtonGroup'
  import {ActionList} from '../ActionList';
  import {Button, buttonFrom} from '../Button';
  import {Popover} from '../Popover'

  import {Header, Section, Subsection} from './components'
  import styles from './Card.scss'

  export default {}
</script>
