<template>
  <li :role="role" :aria-selected="active">
    {scrollMarkup}
    <component :is="component"
      v-bind="bindings"
      :class="className"
      @click="$emit('click', $event)">
      <div :class="styles.Content">
        <div v-if="icon" :class="styles.Image">
          <Icon :source="icon" />
        </div>
        <div
          v-else-if="image"
          role="presentation"
          :class="styles.Image"
          :style="{backgroundImage: `url(${image})`}"
        />
        {textMarkup}
        {badgeMarkup}
      </div>
    </component>
  </li>  
</template>
<script>
  import {classNames} from '../../../../utilities/css'
  import {useFeatures} from '../../../../mixins'
  import {Scrollable} from '../../../Scrollable'
  import {Icon} from '../../../Icon'
  import {UnstyledLink} from '../../../UnstyledLink'
  import {Badge} from '../../../Badge'
  import {TextStyle} from '../../../TextStyle'
  import styles from '../../ActionList.scss'

  export default {
    mixins: [useFeatures],
    props: [ 'id', 'badge', 'content', 'accessibilityLabel', 'helpText',
             'url', 'onAction', 'icon', 'image', 'disabled',
             'external', 'destructive', 'ellipsis', 'active', 'role'],
    computed: {
      className() {
        const {disabled, destructive, active, newDesignLanguage} = this
        return classNames(
          styles.Item,
          disabled && styles.disabled,
          destructive && styles.destructive,
          active && styles.active,
          newDesignLanguage && styles.newDesignLanguage,
        )
      },
      component() {
        const { url } = this
        return url ? UnstyledLink : 'button'
      },
      bindings() {
        const { id, url, external, accessibilityLabel, disabled } = this
        return {
          id, 'aria-label': accessibilityLabel,
          ...url ? {url, external} : { type: "button", disabled}
        }

      }
    }
  }
</script>
