<template>
  <nav :class="className">
    <div v-if="$slots.contextControl"
      :class="styles.ContextControl"><slot name="contextControl"/> </div>
    <template v-else>
      <div v-if="logo && newDesignLanguage"
        :class="styles.LogoContainer">
        <UnstyledLink
          :url="logo.url || ''"
          :class="styles.LogoLink"
          :style="{width}"
        >
          <Image_
            :source="logo.topBarSource || ''"
            :alt="logo.accessibilityLabel || ''"
            :class="styles.Logo"
            :style="{width}"
          />
        </UnstyledLink>
      </div>
    </template>
    <Scrollable :class="styles.PrimaryNavigation">
      <slot/>
    </Scrollable>
  </nav>
</template>
<script>
  import {Scrollable} from '../Scrollable'
  import {classNames} from '../../utilities/css'
  import {useFeatures, useTheme} from '../../mixins'
  import {WithinContentContext} from '../../utilities/within-content-context'
  import {Image} from '../Image'
  import {UnstyledLink} from '../UnstyledLink'
  import {getWidth} from '../../utilities/get-width'
  import {Section, Item} from './components'
  import styles from './Navigation.scss'

  export default {
    Item, Section,
    mixins: [useFeatures, useTheme],
    components: {
      Scrollable,
      'Image_': Image,
      UnstyledLink },
    props: {
      location: {
        type: String,
        default: ""
      }
    },
    data() {
      return {
        styles
      }
    },
    provide() {
      return {
        WithinContentContext: true,
        NavigationContext: {
          location: this.location,
          onNavigationDismiss: this.$listeners.dismiss,
        }
      }
    },
    computed: {
      logo() {
        const {logo} = this.ThemeContext
        return logo
      },
      width() {
        const {logo} = this
        return getWidth(logo, 104)
      },
      className() {
        const {logo, newDesignLanguage} = this
        const mediaMarkup = !!this.$slots.contextControl || (logo && newDesignLanguage)
        return classNames(
          styles.Navigation,
          !this.mediaMarkup && this.newDesignLanguage && styles['Navigation-noMedia'],
          this.newDesignLanguage && styles['Navigation-newDesignLanguage'],
        )
      }
    }
  }
</script>
