<template>
  <div>
    <Portal v-if="idPrefix" :idPrefix="idPrefix" @onPortalCreated="onPortalCreated"> portal {{idPrefix}} </Portal>
    <Image_ source="https://bucket.yu-mi.us/yumi_dev/uploads/backendproduct/5f362fefe114c07c8c9e8581/ozk6mj/d2pnmfxx.jpeg?imageMogr2/thumbnail/!240x240r/gravity/Center/crop/240x240/ignore-error/1"/>
    <Heading :element="element">
      Heading
    </Heading>

    <UnstyledLink url="https://vuejs.org/v2/guide/render-function.html"> UnstyledLink </UnstyledLink>
    app
    <Hello/>
    <Hello2/>
  </div>

</template>
<script>
  import { UnstyledLink, Hello, Hello2, Context, Heading, Image, Portal } from '../../src/components'

  import { createContext} from 'react'

  import {
    UniqueIdFactory,
    UniqueIdFactoryContext,
    globalIdGeneratorFactory,
  } from '../../src/utilities/unique-id'

  console.log(createContext)
  
  export default {
    components: {
      UnstyledLink, Hello, Hello2, Heading, Portal,
      "Image_": Image,
    },
    data() {
      return {
        idPrefix: "idPrefix",
        element: "h3",
        value: true,
        uniqueIdFactory: new UniqueIdFactory(globalIdGeneratorFactory)
      }
    },
    methods: {
      onPortalCreated() {
        console.log("portalCreated")
      }
    },
    created() {
      new Promise((resolve) => setTimeout(resolve, 5000)).then(_ => {
        console.log(this.value)
        this.value = false
        this.element = "h1"
        this.idPrefix = ""
        console.log(this.value)
      })
    }
  }
</script>
