<script>
  import {classNames} from '../../../../utilities/css'
  import styles from '../../ButtonGroup.scss'

  export default {
    props: {
      title: {
        type: Boolean,
        default: true
      }
    },
    data: function() {
      return {
        focused: false
      }
    },
    computed: {
      className: function() {
        const { focused } = this
        const plain = this.$slots.default &&
                      this.$slots.default[0] &&
                      this.$slots.default[0].componentInstance &&
                      this.$slots.default[0].componentInstance.plain
        return classNames(
          styles.Item,
          focused && styles['Item-focused'],
          plain && styles['Item-plain']
        )
      }
    }
  }
</script>
<template>
  <div
    :class="className"
    @focus="focused=true"
    @blur="focused=true"
  >
    <slot/>
  </div>
</template>

