<script>
  import {classNames} from '../../../../utilities/css'
  import {handleMouseUpByBlurring} from '../../../../utilities/focus'
  import {Icon} from '../../../Icon'
  import {MobileCancelMajorMonotone} from 'v-polaris-icons'
  import styles from './CloseButton.scss'

  export default {
    components: {
      Icon
    },
    props: {
      title: {
        type: Boolean,
        default: true
      }
    },
    data: function() {
      return {
        MobileCancelMajorMonotone
      }
    },
    computed: {
      className: function() {
        const { title } = this

        return classNames(
          styles.CloseButton,
          !title && styles.withoutTitle,
        )
      }
    },
    methods: {
      handleMouseUpByBlurring
    }
  }
</script>
<template>
  <button
    @click="$emit('click', $event)"
    @mouseup="handleMouseUpByBlurring"
    :class="className"
    aria-label="Polaris.Common.close"
  >
    <Icon :source="MobileCancelMajorMonotone" color="inkLighter" />
  </button>
</template>
