<script>
  import {classNames} from '../../../../utilities/css'
  import styles from './Dialog.scss'

  export default {
    props: {
      labelledBy: String,
      instant: Boolean,
      limitHeight: Boolean,
      large: Boolean
    },
    data() {
      return {
        styles
      }
    },
    computed: {
      transitionBindings: function() {
        return {
          ...this.$attrs,
          ...!this.instant && {
            enterClass: classNames(styles.animateFadeUp, styles.entering),
            enterActiveClass: classNames(styles.animateFadeUp, styles.entered),
            leaveClass: classNames(styles.animateFadeUp, styles.exiting),
            leaveActiveClass: classNames(styles.animateFadeUp, styles.exited)
          }
        }
      },
      className: function() {
        return classNames(
          styles.Modal,
          this.large && styles.sizeLarge,
          this.limitHeight && styles.limitHeight,
        )
      }
    }
  }
</script>
<template>
  <transition
    v-bind="transitionBindings"
    v-on:after-enter="$emit('entered')"
    v-on:after-leave="$emit('exited')">
    <div
      :class="styles.Container"
      data-polaris-layer
      data-polaris-overlay
      ref="containerNode"
    >
      <div
        role="dialog"
        :aria-labelledby="labelledBy"
        tabIndex="-1"
        :class="styles.Dialog"
      >
        <div :class="className">
          <slot/>
        </div>
      </div>
    </div>
  </transition>
</template>
