<template>
  <div
    :id="id"
    :aria-hidden="!open"
    :style="style"
    :class="wrapperClassName"
    ref="node"
    @transitionend="handleTransitionEnd"
  >
    <div ref="heightNode">
      <slot v-if="animating || open" />
    </div>
  </div>
</template>
<script>
  import {classNames} from '../../utilities/css'
  import styles from './Collapsible.scss'

  function collapsibleHeight(
    open,
    animationState,
    height
  ) {
    if (animationState === 'idle' && open) {
      return open ? 'none' : undefined;
    }

    if (animationState === 'measuring') {
      return open ? undefined : 'none';
    }

    return `${height || 0}px`;
  }

  export default {
    props: {
      id: {
        type: String,
        required: true
      },
      open: {
        type: Boolean,
        default: false
      },
      transition: Object //{duration?: string,timingFunction?: string}
    },
    watch: {
      open: function (open, wasOpen) {
        console.log({open, wasOpen})
        if (open !== wasOpen) {
          this.animationState = 'measuring'
        }
        this.handleOpenChange(wasOpen)
      }
    },
    data() {
      return {
        height: null,
        animationState: 'idle'
      }
    },
    computed: {
      animating() {
        const {animationState} = this
        return animationState !== 'idle'
      },
      wrapperClassName() {
        const {open, animating} = this
        return classNames(
          styles.Collapsible,
          open && styles.open,
          animating && styles.animating,
          !animating && open && styles.fullyOpen,
        )
      },
      displayHeight() {
        return collapsibleHeight(this.open, this.animationState, this.height)
      },
      transitionProperties() {
        const transition = this.transition
        return transition ? {
          transitionDuration: `${transition.duration}`,
          transitionTimingFunction: `${transition.timingFunction}`,
        } : null
      },
      style() {
        const { displayHeight, transitionProperties } = this
        return {
          maxHeight: `${displayHeight}`,
          ...transitionProperties
        }
      }
    },
    methods: {
      handleTransitionEnd(event) {
        const {target} = event
        if (target === this.$refs.node) {
          this.animationState = 'idle'
          this.height = null
        }
      },
      handleOpenChange(wasOpen) {
        const {animationState, parentCollapsibleExpanding} = this
        if (parentCollapsibleExpanding && animationState !== 'idle') {
          this.animationState='idle'
          return
        }
        requestAnimationFrame(() => {
          const heightNode = this.$refs.heightNode;
          switch (animationState) {
            case 'idle':
              break
            case 'measuring':
              this.animationState=wasOpen ? 'closingStart' : 'openingStart'
              this.height=wasOpen && heightNode ? heightNode.scrollHeight : 0
              break
            case 'closingStart':
              this.animationState= 'closing'
              this.height= 0
              break
            case 'openingStart':
              this.animationState= 'opening'
              this.height= heightNode ? heightNode.scrollHeight : 0
          }
        })
      }
    },
    inject: {
      parentCollapsibleExpanding: {default: false}
    },
    provide() {
      return {
        parentCollapsibleExpanding: this.parentCollapsibleExpanding || (this.open && this.animationState !== 'idle')
      }
    }
  }
</script>
