<script>
  import {globalIdGeneratorFactory} from '../../utilities/unique-id/unique-id-factory'
  import {pick} from '../../utilities/pick'

  import {Scrollable} from '../Scrollable'
  import {Spinner} from '../Spinner'
  import {Backdrop} from '../Backdrop'
  import {Portal} from '../Portal'
  import {
    CloseButton,
    Dialog,
    Footer,
    Header,
    Section,
  } from './components';
  import styles from './Modal.scss'

  const IFRAME_LOADING_HEIGHT = 200
  const DEFAULT_IFRAME_CONTENT_HEIGHT = 400
  const SIZES = ['Small', 'Medium', 'Large', 'Full']
  const getUniqueID = globalIdGeneratorFactory('modal-header')
  
  export default {
    Section,
    components: {
      CloseButton,
      Dialog,
      Footer,
      Header,
      Section,
      Scrollable,
      Spinner,
      Portal,
      Backdrop
    },
    props: {
      /** Whether the modal is open or not */
      open: Boolean,
      /** The url that will be loaded as the content of the modal */
      src: String,
      /** The name of the modal content iframe */
      iFrameName: String,
      /** Automatically adds sections to modal (stand-alone app use only) */
      /** Disable animations and open modal instantly (stand-alone app use only) */
      instant: Boolean,
      sectioned: Boolean,
      /** Increases the modal width (stand-alone app use only) */
      large: Boolean,
      /** Limits modal height on large sceens with scrolling (stand-alone app use only) */
      limitHeight: Boolean,
      /** Replaces modal content with a spinner while a background action is being performed (stand-alone app use only) */
      loading: Boolean,
      /**
       * Controls the size of the modal
       * @default 'Small'
       * @embeddedAppOnly
       */
      size: {
        type: String,
        default: "Small",
        validator: function (value) {
          // The value must match one of these strings
          return SIZES.indexOf(value) !== -1
        }
      },
      /**
       * Message to display inside modal
       * @embeddedAppOnly
       */
      message: String,
      /** Primary action */
      primaryAction: Object,
      /** Collection of secondary actions */
      secondaryActions: Array
    },
    watch: {
      src: function (val, oldVal) {
        if (/^https?:\/\//.test(val)) {
          this.url = val
        } else {
          this.path = val
        }
      }
    },
    data: function() {
      return {
        styles,
        url: "",
        path: "",
        iframeHeight: IFRAME_LOADING_HEIGHT,
        headerId: getUniqueID()        
      }
    },
    computed: {
      iframeTitle: function() {
        return 'Polaris.Modal.iFrameTitle'
      },
      labelledBy: function() {
        return !!this.$slots.title ? this.headerId : undefined;
      },

      className: function() {
        return classNames(
          styles.CloseButton,
          !this.$slots.title && styles.withoutTitle,
        )
      }
    },
    methods: {
      handleIFrameLoad(evt) {
        const iframe = evt.target
        if (iframe && iframe.contentWindow) {
          try {
            this.iframeHeight = iframe.contentWindow.document.body.scrollHeight
          } catch(e) {
            this.iframeHeight = DEFAULT_IFRAME_CONTENT_HEIGHT
          }
        }
        this.$emit("iframe-load", evt)
      }
    }
  }
</script>
<template>
  <Portal idPrefix="modal">
    <component is="transition">
      <Dialog
        v-show="open"
        :instant="instant"
        :labelledBy="labelledBy"
        :large="large"
        :limitHeight="limitHeight">
        <Header v-if="!!$slots.title"
          :id="headerId"
          @close="$emit('close')"
          testID="ModalHeader">
          <slot name="title" />
        </Header>
        <CloseButton
          :style="{zIndex: 1}"
          v-else
          @click="$emit('close')"
          :title="false"
          testID="ModalCloseButton"
        />
        <div :class="styles.BodyWrapper">
          <iframe
            v-if="src"
            :name="iFrameName"
            :title="iframeTitle"
            :src="src"
            :class="styles.IFrame"
            @load="handleIFrameLoad"
            style="[height: `${iframeHeight}px`]"
          />
          <Scrollable
            v-else
            shadow
            :class="styles.Body"
            @scrolled-to-bottom="$emit('scrolled-to-bottom')"
          >
            <div v-if="loading" :class="styles.Spinner">
              <Spinner />
            </div>
            <Section v-else-if="sectioned">
              <slot/>
            </Section>
            <slot v-else/>
          </Scrollable>
        </div>
        <Footer
          v-if="!!$slots.footer || primaryAction || secondaryActions"
          :primaryAction="primaryAction"
          :secondaryActions="secondaryActions"
        >
          <slot name="footer"/>
        </Footer>
      </Dialog>
    </component>
    <Backdrop v-if="open"/>
  </Portal>
</template>
