<template>
  <ul :class="className">
    <li v-if="title" :class="styles.SectionHeading">
      <span :class="styles.Text">{{title}}</span>
      <button
        v-if="action"
        type="button"
        :class="styles.Action"
        :aria-label="action.accessibilityLabel"
        @click="action.onClick"
      >
        <Icon :source="action.icon"/>
      </button>
    </li>
    <Item
      v-for="({onClick, label, subNavigationItems, ...rest}, index) in sectionItems"
      v-bind="rest"
      :key="label"
      :label="label"
      :subNavigationItems="subNavigationItems"
      @click="handleClick(onClick, subNavigationItems != null && subNavigationItems.length > 0)"
    />
    <li v-if="rollup && additionalItems.length > 0"
      :class="styles.RollupSection">
      <Collapsible :id="additionalItemsId" :open="expanded">
        <ul :class="styles.List">
          <Item
            v-for="({onClick, label, subNavigationItems, ...rest}, index) in additionalItems"
            v-bind="rest"
            :key="label"
            :label="label"
            :subNavigationItems="subNavigationItems"
            @click="handleClick(onClick, subNavigationItems != null && subNavigationItems.length > 0)"
          />
        </ul>
      </Collapsible>
      <div v-if="rollup && items.length > rollup.after"
        :class="styles.ListItem"
        key="List Item">
        <button
          type="button"
          :class="toggleClassName"
          @click="toggleExpanded"
          :aria-label="ariaLabel"
          testID="ToggleViewAll"
        >
          <span :class="styles.Icon">
            <Icon :source="HorizontalDotsMinor"/>
          </span>
        </button>
      </div>
    </li>
  </ul>  
</template>
<script>
  import {HorizontalDotsMinor} from 'v-polaris-icons'
  import {classNames} from '../../../../utilities/css'
  import {navigationBarCollapsed} from '../../../../utilities/breakpoints'
  import {UniqueId} from '../../../../mixins'
  import {Collapsible} from '../../../Collapsible'
  import {Icon} from '../../../Icon'
  import {Item} from '../Item'
  import styles from '../../Navigation.scss'
  
  export default {
    mixins: [UniqueId],
    components: {Collapsible, Icon, Item},
    props: {
      items: {
        type: Array,
        required: true
      },
      icon: [Function, Object, String],
      title: String,
      fill: Boolean,
      rollup: Object, //{after: number,view: string,hide: string,activePath: string}
      action: Object, //{icon,accessibilityLabel: string, onClick(): void}
      separator: Boolean
    },
    data() {
      return {
        testID: this.useUniqueId('test'),
        styles,
        HorizontalDotsMinor,
        additionalItemsId: this.useUniqueId('AdditionalItems'),
        expanded: false,
      }
    },
    computed: {
      toggleClassName() {
        return classNames(styles.Item, styles.RollupToggle)
      },
      ariaLabel() {
        const { rollup, expanded } = this
        return rollup && (expanded ? rollup.hide : rollup.view)
      },
      itemsLogic() {
        const {items, rollup, activeItemIndex} = this
        let sectionItems = rollup ? items.slice(0, rollup.after) : items
        let additionalItems = rollup ? items.slice(rollup.after) : []
        if (rollup && activeItemIndex !== -1 && activeItemIndex > rollup.after - 1) {
          sectionItems.push(
            ...additionalItems.splice(activeItemIndex - rollup.after, 1),
          )
        }
        return {sectionItems, additionalItems}
      },
      sectionItems() {
        const {sectionItems} = this.itemsLogic
        return sectionItems
      },
      additionalItems() {
        const {additionalItems} = this.itemsLogic
        return additionalItems
      },
      className() {
        const { separator, fill} = this
        return classNames(
          styles.Section,
          separator && styles['Section-withSeparator'],
          fill && styles['Section-fill'],
        )
      },
      activeItemIndex() {
        const {items, rollup} = this
        return items.findIndex((item) => {
          if (!rollup) {
            return false
          }

          return (
            rollup.activePath === item.url ||
            (item.url && rollup.activePath.startsWith(item.url)) ||
            (item.subNavigationItems
           ? item.subNavigationItems.some(({url: itemUrl}) =>
             rollup.activePath.startsWith(itemUrl),
           )
           : false)
          )
        })
      },
      
    },
    methods: {
      handleClick( onClick, hasSubNavItems) {
        return () => {
          if (onClick) {
            onClick()
          }

          if (this.animationFrame) {
            cancelAnimationFrame(this.animationFrame);
          }

          if (!hasSubNavItems || !navigationBarCollapsed().matches) {
            this.animationFrame = requestAnimationFrame(this.setExpandedFalse);
          }
        }
      },
      setExpandedFalse() {
        this.expanded = false
      },
      toggleExpanded() {
        this.expanded = !this.expanded
      }
    },
    destroyed() {
      this.animationFrame && cancelAnimationFrame(this.animationFrame)
    }
  }
</script>
