<script>
  import {classNames} from '../../utilities/css'
  import {ScrollLock} from "../ScrollLock"
  import styles from './Backdrop.scss'

  export default {
    components: { ScrollLock },
    props: {
      belowNavigation: Boolean,
      transparent: Boolean
    },
    computed: {
      className: function() {
        return classNames(
          styles.Backdrop,
          this.belowNavigation && styles.belowNavigation,
          this.transparent && styles.transparent
        )
      },
    }
  }
</script>
<template>
  <fragment>
    <ScrollLock/>
    <div :class="className"
      @click="$emit('click', $event)"
      testID="Backdrop"
      @touchstart="$emit('touchstart', $event)"
    ><slot/></div>
  </fragment>
</template>
