<template>
  <div :class="styles.Loading">
    <div
      :class="styles.Level"
      :style="customStyles"
      :aria-valuenow="ariaValuenow"
      :aria-valuemin="0"
      :aria-valuemax="100"
      role="progressbar"
    />
  </div>  
</template>
<script>
  import debounce from 'lodash/debounce'
  import styles from './Loading.scss'
  const INITIAL_STEP = 10
  const STUCK_THRESHOLD = 99

  export default {
    computed: {
      customStyles() {
        const {progress} = this
        return {
          transform: `scaleX(${Math.floor(progress) / 100})`,
        }
      },
      ariaValuenow() {
        return this.ariaValuenow()
      }
    },
    data() {
      return {
        styles,
        progress: 0,
        step: INITIAL_STEP,
        animation: null,
      }
    },
    methods: {
      ariaValuenow() {
        return debounce(() => {
          const {progress} = this
          return Math.floor(progress / 10) * 10;
        }, 15)
      },
      increment() {
        const {progress, step} = this
        
        if (progress >= STUCK_THRESHOLD) {
          return
        }

        const animation = requestAnimationFrame(() => this.increment())
        this.progress = Math.min(progress + step, 100)
        this.step = INITIAL_STEP ** -(progress / 25)
        this.animation = animation
      }
    },
    mounted() {
      this.increment()
    },
    destroyed() {
      const {animation} = this
      if (animation != null) {
        cancelAnimationFrame(animation)
      }
    }
  }
</script>
