<script>
  import {classNames, variationName} from '../../utilities/css'
  const HEADING_TAG_NAMES = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p']
  const SIZES = ['small', 'medium', 'large', 'extraLarge']
  import styles from './DisplayText.scss'

  export default {
    props: {
      /**
       * Name of element to use for text
       * @default 'p'
       */
      element: {
        type: String,
        default: "p",
        validator: function (value) {
          return HEADING_TAG_NAMES.indexOf(value) !== -1
        }
      },
      /**
       * Size of the text
       * @default 'medium'
       */
      size: {
        type: String,
        default: "medium",
        validator: function (value) {
          // The value must match one of these strings
          return SIZES.indexOf(value) !== -1
        }
      },
    },
    computed: {
      className: function() {
        return classNames(
          styles.DisplayText,
          this.size && styles[variationName('size', this.size)],
        )
      }
    }
  }
</script>
<template>
  <component :is="element" :class="className">
    <slot/>
  </component>
</template>
