<script>
  import {classNames} from '../../utilities/css'
  import {wrapWithComponent} from '../../utilities'
  import { Item } from './components'
  import styles from './ButtonGroup.scss'

  export default {
    Item,
    props: {
      /** Join buttons as segmented group */
      segmented: Boolean,
      /** Buttons will stretch/shrink to occupy the full width */
      fullWidth: Boolean,
      /** Remove top left and right border radius */
      connectedTop: Boolean
    },
    computed: {
      className: function() {
        return classNames(
          styles.ButtonGroup,
          this.segmented && styles.segmented,
          this.fullWidth && styles.fullWidth
        )
      }
    },
    beforeCreate() {
      this.$slots.default = this.$slots.default.map((node, index) => {
        return wrapWithComponent(node, Item, {key: index})
      })
    },
    beforeUpdate() {
      this.$slots.default = this.$slots.default.map((node, index) => {
        return wrapWithComponent(node, Item, {key: index})
      })
    }
  }
</script>
<template>
  <div
    :class="className"
    :data-buttongroup-segmented="segmented"
    :data-buttongroup-connected-top="connectedTop"
    :data-buttongroup-full-width="fullWidth"
  >
    <slot/>
  </div>
</template>
