<template>
  <ThemeProvider :theme="{colorScheme: 'inverse'}">
    <div :class="className">
      <KeypressListener :keyCode="Key.Escape"
        @handler="$emit('dismiss', $event)"/>
      <slot/>
      <div v-if="$slots.action" :class="styles.Action">
        <Button plain monochrome @click="$emit('action')">
          <slot name="action"/>
        </Button>
      </div>
      <button
        type="button"
        :class="styles.CloseButton"
        @click="$emit('dismiss')"
        testID="closeButton"
      >
        <Icon :source="MobileCancelMajorMonotone" />
      </button>
    </div>
  </ThemeProvider>
</template>
<script>
  import {MobileCancelMajorMonotone} from 'v-polaris-icons'

  import {classNames} from '../../../../utilities/css'
  import {Key} from '../../../../types'
  import {Button} from '../../../Button'
  import {ThemeProvider} from '../../../ThemeProvider'
  import {Icon} from '../../../Icon'
  import {KeypressListener} from '../../../KeypressListener'
  import styles from './Toast.scss'

  export const DEFAULT_TOAST_DURATION = 5000

  export const DEFAULT_TOAST_DURATION_WITH_ACTION = 10000
  
  export default {
    components: { Icon, KeypressListener, Button, ThemeProvider },
    data() {
      return {
        styles,
        Key,
        MobileCancelMajorMonotone
      }
    },
    props: {
      /**
       * The length of time in milliseconds the toast message should persist
       * @default 5000
       */
      duration: Number,
      /** Display an error toast. */
      error: Boolean
    },
    computed: {
      className(){
        return classNames(styles.Toast, this.error && styles.error)
      }
    },
    methods: {
      handleFocus() {
        this.skipFocused = true
      },
      handleBlur() {
        this.skipFocused = false
      },
      handleClick() {
        this.$refs.skipToMainContentTargetNode &&
        this.$refs.skipToMainContentTargetNode.focus();
      }
    },
    mounted() {
      let timeoutDuration = this.duration || DEFAULT_TOAST_DURATION

      if (this.$slots.action && !this.duration) {
        timeoutDuration = DEFAULT_TOAST_DURATION_WITH_ACTION;
      } else if (
        this.$slots.action &&
        this.duration &&
        this.duration < DEFAULT_TOAST_DURATION_WITH_ACTION
      ) {
        // eslint-disable-next-line no-console
        console.log(
          'Toast with action should persist for at least 10,000 milliseconds to give the merchant enough time to act on it.',
        )
      }

      this.timer = setTimeout(() => {this.$emit("dismiss")}, timeoutDuration)
    },
    beforeDestroy() {
      clearTimeout(this.timer)
    }
  }
</script>
