<script>
  import {classNames} from '../../../../utilities/css'
  import { DisplayText } from '../../../DisplayText'
  import { CloseButton } from '../CloseButton'
  import styles from './Header.scss'

  export default {
    components: {
      CloseButton,
      DisplayText
    },
    props: {
      id: String
    },
    data() {
      return {
        styles
      }
    }
  }
</script>
<template>
  <div :class="styles.Header">
    <div :id="id" :class="styles.Title">
      <DisplayText element="h2" size="small">
        <slot/>
      </DisplayText>
    </div>
    <CloseButton @click="$emit('close')"/>
  </div>
</template>
