<template>
  <div :class="className">
    <Header v-if="hasHeaderContent" v-bind="$attrs"/>
    <div :class="styles.Content"><slot/></div>
  </div>  
</template>
<script>
  import {classNames} from '../../utilities/css'
  import {Header} from './components'
  import styles from './Page.scss'

  export default {
    components: {Header},
    props: {
      /** Remove the normal max-width on the page */
      fullWidth: Boolean,
      /** Decreases the maximum layout width. Intended for single-column layouts */
      narrowWidth: Boolean
    },
    computed: {
      className() {
        const { fullWidth, narrowWidth } = this
        return classNames(
          styles.Page,
          fullWidth && styles.fullWidth,
          narrowWidth && styles.narrowWidth,
        )
      },
      hasHeaderContent() {
        const {
          title, primaryAction, secondaryActions,
          actionGroups, breadcrumbs } = this.$attrs
        return (title != null && title !== '') ||
               primaryAction != null ||
               (secondaryActions != null && secondaryActions.length > 0) ||
               (actionGroups != null && actionGroups.length > 0) ||
               (breadcrumbs != null && breadcrumbs.length > 0)
      }
    },
    data() {
      return {
        styles
      }
    }
  }
</script>
