<script>
  import {classNames} from '../../utilities/css'
  import styles from './Scrollable.scss'

  export default {
    props: {
      /** Scroll content vertically */
      vertical: Boolean,
      /** Scroll content horizontally */
      horizontal: Boolean,
      /** Add a shadow when content is scrollable */
      shadow: Boolean,
      /** Slightly hints content upon mounting when scrollable */
      hint: Boolean
    },
    data: function() {
      return {
        topShadow: false,
        bottomShadow: false,
        scrollPosition: 0,
        canScroll: false
      }
    },
    computed: {
      className: function() {
        return classNames(
          styles.Scrollable,
          this.vertical && styles.vertical,
          this.horizontal && styles.horizontal,
          this.topShadow && styles.hasTopShadow,
          this.bottomShadow && styles.hasBottomShadow,
          this.vertical && this.canScroll && styles.verticalHasScrolling,
        )
      }
    }
  }
</script>
<template>
  <div :class="className"
    v-bind="$attrs"
    ref="scrollArea"
  ><slot/></div>
</template>
