<template>
  <Collapsible :id="id" :open="expanded">
    <ul :class="styles.List"><slot/></ul>
  </Collapsible>
</template>
<script>
  import {UniqueId} from '../../../../../../mixins'
  import {Collapsible} from '../../../../../Collapsible'
  import styles from '../../../../Navigation.scss'
  
  export default {
    mixins: [UniqueId],
    components: { Collapsible },
    props: {
      expanded: {
        type: Boolean,
        required: true
      }
    },
    data() {
      return {
        styles,
        id: this.useUniqueId('SecondaryNavigation')
      }
    }
  }
</script>
