<template>
  <div
    :class="className"
    :tabIndex="0"
    ref="wrapper"
    :role="ariaRoleType"
    :aria-live="stopAnnouncements ? 'off' : 'polite'"
    @mouseup="handleMouseUp"
    @keyup="handleKeyUp"
    @blur="handleBlur"
    :aria-labelledby="headingID"
    :aria-describedby="contentID"
  >
    <div v-if="$listeners.dismiss"
      :class="styles.Dismiss">
      <Button
        plain
        :icon="CancelSmallMinor"
        @click="$emit('dismiss')"
        accessibilityLabel="Dismiss notification"
      />
    </div>
    <div :class="styles.Ribbon">
      <Icon
        :source="iconName"
        :color="color"
        :backdrop="!newDesignLanguage"
      />
    </div>
    <div :class="styles.ContentWrapper">
      <div :class="styles.Heading"
        v-if="!!$slots.title"
        :id="headingID">
        <Heading element="p"><slot name="title"/></Heading>
      </div>
      <div :class="styles.Content"
        v-if="!!$slots.default || action"
        :id="contentID">
        <slot/>
        <div v-if="action" :class="styles.Actions">
          <ButtonGroup>
            <div :class="styles.PrimaryAction">
              <buttonFrom :action="action" :overrides="{outline: true, size: buttonSizeValue}"/>
            </div>
            <template v-if="secondaryAction">
              <UnstyledLink
                v-if="secondaryAction.url"
                :class="styles.SecondaryAction"
                :url="secondaryAction.url"
                :external="secondaryAction.external">
                <span :class="styles.Text">{{secondaryAction.content}}</span>
              </UnstyledLink>
              <button v-else
                :class="styles.SecondaryAction"
                @click="secondaryAction.onAction">
                <span :class="styles.Text">{{secondaryAction.content}}</span>
              </button>
            </template>
          </ButtonGroup>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {
    CancelSmallMinor,
    CircleTickMajorTwotone,
    FlagMajorTwotone,
    CircleAlertMajorTwotone,
    CircleDisabledMajorTwotone,
    CircleInformationMajorTwotone,
    CircleInformationMajorFilled,
    CircleTickMajorFilled,
    CircleAlertMajorFilled,
    CircleDisabledMajorFilled
  } from 'v-polaris-icons'
  /* import {FeaturesContext} from '../../utilities/features' */
  import {useFeatures} from '../../mixins'
  import {classNames, variationName} from '../../utilities/css'
  import {Button, buttonFrom} from '../Button'
  import {Heading} from '../Heading'
  import {ButtonGroup} from '../ButtonGroup'
  import {UnstyledLink} from '../UnstyledLink'
  import {Icon} from '../Icon'
  import {WithinContentContext} from '../../utilities/within-content-context'
  import styles from './Banner.scss'

  export const BannerStatus = ['success', 'info', 'warning', 'critical']

  let index = 1
  function uniqueID() {
    return `Banner${index++}`
  }

  export default {
    mixins: [useFeatures, WithinContentContext],
    components: { Button, buttonFrom, Heading, ButtonGroup, UnstyledLink, Icon},
    props: {
        /** Title content for the banner. */
      title: String,
      /** Icon to display in the banner. Use only major, duotone icons */
      icon: [Function, Object, String],
      /** Sets the status of the banner. */
      status: {
        type: String,
        validator: function (value) {
          // The value must match one of these strings
          return BannerStatus.indexOf(value) !== -1
        }
      },
      /** Action for banner */
      action: Object, //DisableableAction & LoadableAction;
      /** Action | Displays a secondary action */
      secondaryAction: Object, //Action
      /** Disables screen reader announcements when changing the content of the banner */
      stopAnnouncements: Boolean
    },
    data() {
      return {
        styles,
        CancelSmallMinor,
        showFocus: false,
      }
    },
    computed: {
      className(){
        return classNames(
          styles.Banner,
          this.status && styles[variationName('status', this.status)],
          this.$listeners.dismiss && styles.hasDismiss,
          this.showFocus && styles.keyFocused,
          this.withinContentContainer
          ? styles.withinContentContainer
          : styles.withinPage,
          this.newDesignLanguage && styles.newDesignLanguage,
        )
      },
      iconName() {
        const { iconName } = this.tmpProps
        return iconName
      },
      color() {
        const { color } = this.tmpProps
        return color
      },
      ariaRoleType() {
        const { ariaRoleType } = this.tmpProps
        return ariaRoleType
      },
      id() {
        const id = uniqueID()
      },
      headingID() {
        return `${this.id}Heading`
      },
      contentID() {
        return `${this.id}Content`
      },
      buttonSizeValue() {
        return this.withinContentContainer ? 'slim' : undefined
      },
      tmpProps() {
        let color, defaultIcon
        let ariaRoleType = 'status'
        const { newDesignLanguage, icon, status } = this

        switch (status) {
          case 'success':
            color = newDesignLanguage ? 'success' : 'greenDark'
          defaultIcon = newDesignLanguage
                      ? CircleTickMajorFilled
                      : CircleTickMajorTwotone
            break
          case 'info':
            color = newDesignLanguage ? 'highlight' : 'tealDark'
          defaultIcon = newDesignLanguage
                      ? CircleInformationMajorFilled
                      : CircleInformationMajorTwotone
            break
          case 'warning':
            color = newDesignLanguage ? 'warning' : 'yellowDark'
          defaultIcon = newDesignLanguage
                      ? CircleAlertMajorFilled
                      : CircleAlertMajorTwotone
            ariaRoleType = 'alert'
            break
          case 'critical':
            color = newDesignLanguage ? 'critical' : 'redDark'
          defaultIcon = newDesignLanguage
                      ? CircleDisabledMajorFilled
                      : CircleDisabledMajorTwotone
            ariaRoleType = 'alert'
            break
          default:
            color = newDesignLanguage ? 'base' : 'inkLighter'
          defaultIcon = newDesignLanguage
                      ? CircleInformationMajorFilled
                      : FlagMajorTwotone
        }
        const iconName = icon || defaultIcon
        return {
          color, iconName, ariaRoleType
        }
      }
    },
    methods: {
      focus() {
        this.$refs.wrapper && this.$refs.wrapper.focus();
        this.showFocus = true
      },
      handleKeyUp(evt) {
        if (evt.target === this.$refs.wrapper) {
          this.showFocus = true
        }
      },
      handleBlur() {
        this.showFocus = false
      },
      handleMouseUp({ currentTarget }) {
        const {showFocus} = this
        currentTarget.blur()
        if (showFocus) this.showFocus = false
      }
    }
  }
</script>
